[Desktop Entry]
Version=1.1
Type=Application
Name=osu!
Comment=A free-to-win online rhythm game
Icon=osu
Exec=/opt/osu/osu!
Path=/opt/osu
Actions=
Categories=Game;